@media only screen and (max-width: 700px) {
    .main-container {
        min-width: 0px !important;
        width: 100% !important;
    }
 }

 @media (hover: none) {
    .audio-control-container svg:hover {
        fill: #fa484b;
        cursor: default;
    }
 }

.app-container {
    align-items: center;
    display: flex;
    flex-grow: 1;
    height: 100%;
    justify-content: center;
}

.error-message {
    padding: 0.5rem 1rem;
    text-align: center;
    text-transform: uppercase;
    color: white;
    font-family: Arial;
    font-weight: bold;
    display: flex;
    align-items: flex-end;
}

.error-message > :first-child {
    background-color: #fa484b;
    font-size: 4rem;
    margin-right: 1rem;
    padding: 0 1rem;
    align-self: flex-start;
}

.error-message > div {
    margin: 0;
}

.error-message > :last-child {
    font-size: 2rem;
    text-align: left;
}

.error-message-text {
    align-self: flex-start;
    justify-self: flex-start;
}

.error-back-button {
    display: flex;
    justify-self: flex-start;
    align-items: flex-start;
    width: fit-content;
    color: #1a1616;
    background-color: #fff;
    margin-top: 0.25rem;
    fill: #1a1616;
    padding-right: 0.5rem;
}

.error-back-button:hover {
    background-color: #1a1616 !important;
    color: #fff !important;
    cursor: pointer;
    fill: #fff;
}

.error-back-button-arrow {
    align-self: flex-start;
    margin-right: -1px;
}

.error-back-button-text {
    color: inherit;
}

.logo {
    margin-bottom: 3rem;
}

.main-container {
    width: 600px;
    overflow: hidden;
    padding: 0 2rem;
    height: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.song-container {
    height: 100%;
    overflow: hidden;
    flex: 1;
    animation-name: fade-in;
    animation-duration: 2s;
}

.top-half {
    height: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.bottom-half {
    height: 50%;
}

.key-input-form {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    flex: 1;
}

.key-input-form > * {
    margin-top: 1rem;
}

.key-input-form > input {
    max-width: 100%;
    border: none;
    font-size: 2rem;
    font-weight: bold;
    padding: 0.5rem 1rem;
    text-align: center;
}

.key-input-form > button {
    background-color: #fa484b;
    border: none;
    color: #fff;
    font-size: 2rem;
    font-weight: bold;
    max-width: 100%;
    padding: 0.5rem;    
    text-transform: uppercase;
}

.key-input-form > button:hover {
    background-color: #fa484bab;
    color: #fff;
    cursor: pointer;
}

.audio-control-container {
    display: flex;
    justify-content: space-between;
}

.audio-control-container svg {
    fill: #fa484b;
    height: 2rem;
    width: 2rem;
}

.audio-control-container svg:hover {
    fill: #fff;
    cursor: pointer;
}

.seek-bar-container {
    display: flex;
    height: 0.25rem;
    margin: 1rem 0;
    padding: 1rem 0;
    position: relative;
    width: 100%;
}

.seek-bar-container:hover {
    cursor: pointer;
}

.seek-bar-remaining {
    background-color: #fa484b36;
    flex-grow: 1;
}

.seek-bar-buffer {
    background-color: #fff;
    width: 0%;
}

.seek-bar-filled {
    background-color: #fa484b;
    width: 0%;
}

.seek-circle {
    height: 0.5em;
    border-radius: 50%;
    background-color: #fff;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0px;
    z-index: 1;
    width: 0.5em;
}

.progress-circle {
    height: 0.75em;
    border-radius: 50%;
    background-color: #fff;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0px;
    z-index: 1;
    width: 0.75em;
}

.metadata-container {
    display: flex;
    justify-content: flex-end;
}

.metadata-image {
    height: 75px;
    width: 75px;
}

.metadata-text-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-family: 'Arial';
    text-transform: uppercase;
}

.metadata-text-container > * {
    align-self: flex-end;
    margin-bottom: 0.25em;
    text-align: right;
}

.metadata-text-container > .song-title {
    color: #fff;
    font-size: 1.5em;
}

.metadata-text-container > .song-artist {
    color: #fa484b;
}

.volume-is-open > svg {
    fill: #fff;
}

.volume-button {
    position: relative;
}

.volume-dropdown-container {
    position: absolute;
    height: 300%;
    width: 1rem;
    margin: 2rem auto;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
}

.volume-dropdown-container:hover {
    cursor: pointer;
}

.volume-dropdown-filled {
    background-color: #fa484b;
    height: 50%;
    width: 100%;
}

.volume-dropdown-empty {
    background-color: #fa484b36;
    width: 100%;
    flex: 1;
}

.spacer {
    animation-name: shrink;
    animation-duration: 1.25s;
}

.spacer-enter {
    animation-name: grow;
    animation-duration: 1.25s;
}

@keyframes shrink {
    from {width: 700px;}
    to {width: 0;}
}

@keyframes grow {
    from {width: 0;}
    to {width: 700px;}
}

@keyframes fade-in {
    from {opacity: 0;}
    to {opacity: 1;}
}