/* You can add global styles to this file, and also import other style files */

@import "~@ionic/angular/css/core.css";

html {
    height: 100%;
    width: 100%;
}

body {
    background-color: #1a1616;
    height: 100%;
    margin: 0;
    width: 100%;
}

[hidden] { display: none !important;}